:root {
  --primary-color: #00402f;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

p {
  color: var(--primary-color);
}

.header {
  height: 85px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 34px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__list {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.auth__list {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.auth__list::before {
  content: "";
  height: 85px;
  width: 1px;
  background-color: rgba(0, 64, 47, 0.2);
}
.auth__item:last-child {
  background-color: var(--primary-color);
  color: white;
  padding: 36px 30px;
}

.greatness {
  background-color: rgb(102, 140, 130);
  color: white;
  padding-bottom: 140px;
  padding-top: 130px;
  padding-right: 145px;
  background-image: url("../images/greatness.png");
  background-size: 546px;
  background-repeat: no-repeat;
  background-position: 145px 50%;
}
.greatness__container {
  margin-left: auto;
  width: 603px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.greatness__header {
  font-size: 61px;
  font-weight: 400;
  width: 344px;
  line-height: 53px;
}
.greatness__label {
  font-size: 14px;
  line-height: 20px;
  width: 516px;
  color: white;
}
.greatness__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
.greatness__desc {
  padding-left: 25px;
  font-size: 14px;
  line-height: 33px;
  color: white;
}
.greatness__button {
  border-radius: 16px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2.5px;
  color: rgb(0, 64, 47);
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
}

.mission {
  padding-top: 70px;
  padding-bottom: 74px;
  padding-left: 145px;
  padding-right: 146px;
  background-color: #849acb;
  color: white;
  position: relative;
}
.mission__container {
  padding-top: 70px;
  padding-bottom: 84px;
  background-image: url("../images/mission.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 517px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.mission::after {
  content: "";
  width: 31px;
  height: 17px;
  background-image: url("../images/infinite.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.mission__header {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.57);
}
.mission__title {
  width: 550px;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.3px;
  color: white;
}
.mission__button {
  background-color: inherit;
  color: white;
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 20px;
  border-radius: 20px;
  border: 2px solid white;
  padding: 0 26px;
}

.conversation {
  padding: 70px 145px;
  background-color: #fff4e3;
  color: var(--primary-color);
  background-image: url("../images/therapiests.png");
  background-size: 440px;
  background-repeat: no-repeat;
  background-position: 155px 50%;
}
.conversation__container {
  margin-left: auto;
  width: 615px;
  padding-top: 40px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.conversation__header {
  font-size: 50px;
  line-height: 55px;
}
.conversation__desc {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.conversation__button {
  color: white;
  background-color: var(--primary-color);
  padding: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.5px;
  border: none;
  border-radius: 50px;
}

.founder {
  padding-top: 82px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  color: var(--primary-color);
}

.founder__header {
  width: 920px;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0;
}
.founder__figcaption {
  text-align: center;
}
.founder__name {
  font-size: 13px;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.founder__role {
  font-size: 12px;
  line-height: 15px;
}

.community {
  padding: 10px 135px 120px;
  color: var(--primary-color);
  position: relative;
}
.community .right-align {
  margin-left: auto;
}
.community__wrapper {
  padding: 255px 0;
  width: 500px;
}
.community::after {
  content: "";
  width: 16px;
  height: 30px;
  background-image: url("../images/paragraph.png");
  background-size: cover;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.community__item {
  padding: 70px 0;
  position: relative;
}
.community__item:not(:last-child)::after {
  content: "";
  width: 32px;
  height: 18px;
  background-image: url("../images/infinite2.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.community__item:nth-child(1) {
  background-image: url("../images/community.png");
  background-size: 524px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}
.community__item:nth-child(2) {
  background-image: url("../images/terms.png");
  background-size: 595px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.community__item:nth-child(3) {
  background-image: url("../images/contributors.png");
  background-size: 461px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.community__header {
  font-size: 36px;
  line-height: 39px;
  padding-bottom: 25px;
}
.community__desc {
  font-size: 16px;
  line-height: 24px;
}

.testimonials {
  padding: 90px 145px;
  background-color: #fff4e3;
  color: var(--primary-color);
}
.testimonials__header {
  padding-bottom: 70px;
  text-align: center;
  font-size: 50px;
  line-height: 45px;
}
.testimonials__list {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.forum {
  background-color: #522840;
  padding-top: 180px;
  padding-bottom: 120px;
  text-align: center;
  position: relative;
}
.forum::before {
  content: "";
  width: 71px;
  height: 40px;
  background-image: url("../images/infinite1.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}
.forum__desc {
  text-align: center;
  width: 818px;
  margin: 0 auto;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: white;
  padding-bottom: 56px;
}
.forum__button {
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 4.2px;
  line-height: 25px;
  padding: 0 24px;
  border-radius: 50px;
}

.footer {
  padding: 70px 145px;
}
.footer__list {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__link {
  font-size: 19px;
  line-height: 20px;
}

.footer__item {
  width: 360px;
  font-size: 12px;
  line-height: 15px;
}
.footer__item:last-child {
  text-align: right;
}

.footer--infinite {
  position: relative;
}
.footer--infinite::after {
  content: "";
  width: 32px;
  height: 18px;
  background-image: url("../images/infinite2.png");
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}