.container {
  margin: 0 auto;
  width: 1440px;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: 85px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #00402f;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 34px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 80px;
}

.auth {
  padding-left: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.auth li:last-child {
  background-color: #00402f;
  color: white;
  padding: 36px 30px;
}

.auth::before {
  content: "";
  height: 85px;
  width: 1px;
  background-color: rgba(0, 64, 47, 0.2);
}

.greatness {
  background-color: rgba(102, 140, 130, 1);
  color: white;
  padding-bottom: 80px;
  padding-top: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.greatness__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 30px;
}

.greatness h1 {
  font-size: 61px;
  font-weight: 400;
  width: 344px;
  line-height: 53px;
}

.greatness__container > p {
  font-size: 14px;
  line-height: 20px;
  width: 516px;
}

.greatness__container ul {
  padding-left: 25px;
  font-size: 14px;
  line-height: 33px;
}

.greatness__container button {
  border-radius: 16px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2.5px;
  color: rgba(0, 64, 47, 1);
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
}

.mission {
  height: 662px;

  padding-left: 145px;
  background-color: #849acb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;

  color: white;

  background-image: url("../images/mission.png");
  background-repeat: no-repeat;
  background-position: top 70px right 145px;
  background-size: 517px;

  position: relative;
}

.mission::after {
  content: "";
  width: 31px;
  height: 17px;
  background-image: url("../images/infinite.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 40px;

  transform: translateY(-50%);
}

.mission h2 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 13px;
}

.mission p {
  width: 550px;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.3px;
}

.mission button {
  border: none;

  background-color: inherit;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 20px;
  text-transform: uppercase;

  border-radius: 20px;
  border: 2px solid white;
  padding: 0 26px;
}

.conversation {
  padding-right: 160px;
  padding-top: 111px;
  padding-bottom: 125px;
  background-color: #fff4e3;

  background-image: url("../images/therapiests.png");
  background-size: 440px;
  background-repeat: no-repeat;
  background-position: top 80px left 155px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #00402f;
}

.conversation__container {
  width: 615px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.conversation__container h2 {
  font-size: 50px;
  line-height: 55px;
}

.conversation__container p {
  font-size: 16px;
  line-height: 22px;
}

.conversation__container button{
  color: white;
  background-color: #00402f;
  padding: 0 25px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.5px;

  border: none;
  border-radius: 50px;
}

.founder{
  padding-top: 82px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  color: #00402f;
}

.founder h2{
  width: 920px;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0;
}

.founder figcaption{
  text-align: center;
}

.founder .name{
  font-size: 13px;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 5px;
} 

.founder .role{
  font-size: 12px;
  line-height: 15px;
}

.community{
  padding: 10px 135px 120px;
  position: relative;
}

.community::after{
  content: '';
  width: 16px;
  height: 30px;
  background-image: url('../images/paragraph.png');
  background-size: cover;

  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(50%);
}

.community li{
  padding: 255px 0;
  position: relative;
}

.community .wrapper{
  width: 500px;
}

.community .right-align{
  margin-left: auto;
}

.community li:not(:last-child)::after{
  content: "";
  width: 32px;
  height: 18px;
  background-image: url('../images/infinite2.png');
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(50%);
}

.community li:nth-child(1){
  background-image: url('../images/community.png');
  background-size: 524px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}

.community li:nth-child(2){
  background-image: url('../images/terms.png');
  background-size: 595px;
  background-repeat: no-repeat;
  background-position: left 605px top 10px;
}

.community li:nth-child(3){
  background-image: url('../images/contributors.png');
  background-size: 461px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}

.community h2{
  font-size: 36px;
  line-height: 39px;
  padding-bottom: 25px;
  color: #00402f;
}

.community p{
  font-size: 16px;
  line-height: 24px;
  color: #00402f;
}