.founder {
  padding-top: 82px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  color: var(--primary-color);
}

.founder {
  &__header {
    width: 920px;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0;
  }
  &__figcaption {
    text-align: center;
  }
  &__name {
    font-size: 13px;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  &__role {
    font-size: 12px;
    line-height: 15px;
  }
}
